*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

#principal {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  background-color: #effbee;
  background-image: url(./img/bike-parking.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 900px;
}

#caixa {
  width: 450px;
  height: 500px;
  background-color: #fff;
  border-radius: 15px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #fff;
  background-color: #79ac78;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: larger;
  font-weight: 500;
  padding: 15px;
}

.nav-tabs .nav-link {
  color: black;
  border: none;
  font-size: larger;
  font-weight: 500;
  padding: 15px;
}

.nav-tabs .nav-link:hover {
  color: black;
}

#titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0 40px 0;
}

#botoes {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0 30px 0;
}

#botao {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 50px;
  font-size: larger;
  background-color: #79ac78;
  border: none;
}

.button-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

@media screen and (max-width: 1220px) {
  #principal {
    background-color: #effbee;
    background-image: url(./img/bike-parking.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 800px;
  }
}

@media screen and (max-width: 790px) {
  #principal {
    background-color: #effbee;
    background-image: url(./img/bike-parking.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 700px;
  }
}

@media screen and (max-width: 600px) {
  #caixa {
    width: 300px;
    height: 400px;
    background-color: #fff;
    border-radius: 15px;
  }

  #titulo,
  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    padding: 25px 0 15px 0;
  }

  #botoes {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0 25px 0;
  }

  #botao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    font-size: small;
    background-color: #79ac78;
    border: none;
  }

  .button-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
}
