*, *:before, *:after{
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

main{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  background-color: #EFFBEE;
}

#aba{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

#linha{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20%;
}

#botao{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height:50px;
  font-size: larger;
  background-color: #79AC78 ;
  border: none;
}