body{
    background-color: #EFFBEE;
}

#rowInfos{
    background-color: #ffffff;
}

#texto{
    align-items: center;
}

#cardAvaliacao{
    background-color: #79AC78;
    text-align: center;
    color: #ffffff;
}

#cardBike{
    margin: 10%
}

#textoUsuario{
    margin-top: 5%;
    margin-left: 10%;
}

#textoUsuario1{
    margin-block-end: 5%;
    margin-left: 10%;
}