#header {
  padding: 8px;
  background: #79ac78;
}

#header-nav {
  float: right;
  margin-top: 1vh;
}

.botao-user {
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  background: #effbee;
}

.botao-user img {
  padding: 15px;
  max-width: 150px;
}

#logout-button{
  border: 0;
  border-radius: 10%;
  cursor: pointer;
  background: #effbee;
  padding: 5px 10px 5px 10px;
  font-size: x-large;
  margin-top: 1vh;
}

#logoequipe {
  float: right;
}

footer {
  background-color: #727272;
  vertical-align: baseline;
  width: 100%;
  position: fixed;
  bottom: 0;
}