.filter-button {
  background: transparent;
  border: none;
}

#searcbarmargin{
  margin-top: 1vh;
  margin-bottom: 2vh;
}

.catalog-searchbar {
  width: 70%;
  background: white;
  display: flex;
  justify-content: center;
  border-radius: 25px;
  margin: 0px 30px 0px 30px;
}

.catalog-searchbar input {
  background: transparent;
  border: 0;
  outline: none;
  font-size: 20px;
  margin: 0;
  width: 65%;
}

::placeholder {
  color: black;
}

.catalog-searchbar button img {
  width: 25px;
}
.catalog-searchbar button {
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background: transparent;
}

#mapao {
  border-radius: 25px;
  border: 1;
  border-color: white;
  border-width: 3px;
  border-style: solid;
}

#bikeadline {
  display: flex;
  justify-content: center;
  max-height: 50%;
  overflow-y: auto;
}

#catalog{
  margin-top: 20px;
}