
#mapao {
  border-radius: 25px;
  border: 1;
  border-color: white;
  border-width: 3px;
  border-style: solid;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#catalog{
  margin-top: 20px;
}

#bikead-row{
  justify-content: space-between;
  max-height: 100vh;
  overflow-y: auto;
}